{:deps     {:aliases [:dev]}
 :dev-http {8090 ["resources/public"]}
 :builds   {:app {:target           :browser
                  :modules          {:main {:init-fn proti.dev/main!}}
                  :dev              {:output-dir "resources/public/js"}
                  :release          {:output-dir "resources/public/js"}
                :compiler-options {:externs ["datascript/externs.js"]}}}}